* {
	margin: 0;
	padding: 0;
}
body {
	font: 18px Verdana;
	color: #FFF;
  background: #CCC;
}
#picbox {
	margin: 0px auto;
	width: 600px;
}
#boxcard {
	z-index: 1;
	margin: 10px 0 0;
}
#boxcard div{
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	border: 4px solid #c7551f;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 1px 5px rgba(0,0,0,.5);
  background: #d0c6c6;
	z-index: 2;
	background: linear-gradient(45deg, #c7551f,rgb(218, 188, 188));
}
#boxcard div img {
	display: none;
	border-radius: 10px;
	z-index: 3;
}
#boxbuttons {
	text-align: center;
	margin: 20px;
	display: block;
}
#boxbuttons .button {
	text-transform: uppercase;
	background: #cb0f0f;
	padding: 7px 10px;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
}
#boxbuttons .button:hover {
	background: rgb(194, 177, 177);
}
img{
    width: 100px;
    height: 100px;
}